In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [4]:
iris = datasets.load_iris()
wine = datasets.load_wine()

In [5]:
from pandasql import sqldf
import pandas as pd

In [6]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
dswine = pd.DataFrame(wine.data, columns=wine.feature_names)
dswine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [8]:
iris = df.rename(columns={ "sepal length (cm)": "sepal_len", "sepal width (cm)": "sepal_wid", "petal length (cm)": "petal_len","petal width (cm)": "petal_wid"})

Can't do LIKE so I will start with AND:

In [9]:
print(sqldf('''
SELECT *
FROM iris
WHERE sepal_wid < 3
            AND petal_wid < 3
'''))

    sepal_len  sepal_wid  petal_len  petal_wid
0         4.4        2.9        1.4        0.2
1         4.5        2.3        1.3        0.3
2         5.5        2.3        4.0        1.3
3         6.5        2.8        4.6        1.5
4         5.7        2.8        4.5        1.3
5         4.9        2.4        3.3        1.0
6         6.6        2.9        4.6        1.3
7         5.2        2.7        3.9        1.4
8         5.0        2.0        3.5        1.0
9         6.0        2.2        4.0        1.0
10        6.1        2.9        4.7        1.4
11        5.6        2.9        3.6        1.3
12        5.8        2.7        4.1        1.0
13        6.2        2.2        4.5        1.5
14        5.6        2.5        3.9        1.1
15        6.1        2.8        4.0        1.3
16        6.3        2.5        4.9        1.5
17        6.1        2.8        4.7        1.2
18        6.4        2.9        4.3        1.3
19        6.8        2.8        4.8        1.4
20        6.0        2.9        4.5        1.5
21        5.7        2.6        3.5        1.0
22        5.5        2.4        3.8        1.1
23        5.5        2.4        3.7        1.0
24        5.8        2.7        3.9        1.2
25        6.0        2.7        5.1        1.6
26        6.3        2.3        4.4        1.3
27        5.5        2.5        4.0        1.3
28        5.5        2.6        4.4        1.2
29        5.8        2.6        4.0        1.2
30        5.0        2.3        3.3        1.0
31        5.6        2.7        4.2        1.3
32        5.7        2.9        4.2        1.3
33        6.2        2.9        4.3        1.3
34        5.1        2.5        3.0        1.1
35        5.7        2.8        4.1        1.3
36        5.8        2.7        5.1        1.9
37        6.3        2.9        5.6        1.8
38        4.9        2.5        4.5        1.7
39        7.3        2.9        6.3        1.8
40        6.7        2.5        5.8        1.8
41        6.4        2.7        5.3        1.9
42        5.7        2.5        5.0        2.0
43        5.8        2.8        5.1        2.4
44        7.7        2.6        6.9        2.3
45        6.0        2.2        5.0        1.5
46        5.6        2.8        4.9        2.0
47        7.7        2.8        6.7        2.0
48        6.3        2.7        4.9        1.8
49        6.2        2.8        4.8        1.8
50        6.4        2.8        5.6        2.1
51        7.4        2.8        6.1        1.9
52        6.4        2.8        5.6        2.2
53        6.3        2.8        5.1        1.5
54        6.1        2.6        5.6        1.4
55        5.8        2.7        5.1        1.9
56        6.3        2.5        5.0        1.9

BETWEEN:

In [10]:
print(sqldf('''
SELECT *
FROM iris
WHERE sepal_wid BETWEEN 1 AND 3
'''))

    sepal_len  sepal_wid  petal_len  petal_wid
0         4.9        3.0        1.4        0.2
1         4.4        2.9        1.4        0.2
2         4.8        3.0        1.4        0.1
3         4.3        3.0        1.1        0.1
4         5.0        3.0        1.6        0.2
..        ...        ...        ...        ...
78        5.8        2.7        5.1        1.9
79        6.7        3.0        5.2        2.3
80        6.3        2.5        5.0        1.9
81        6.5        3.0        5.2        2.0
82        5.9        3.0        5.1        1.8

[83 rows x 4 columns]

COUNT:

In [11]:
print(sqldf('''
SELECT COUNT(sepal_len) AS "Num of small flowers"
FROM iris
WHERE sepal_wid < 3
            AND petal_wid < 3
'''))

   Num of small flowers
0                    57

DISTINCT:

In [12]:
print(sqldf('''
SELECT DISTINCT(sepal_len)
FROM iris
'''))

    sepal_len
0         5.1
1         4.9
2         4.7
3         4.6
4         5.0
5         5.4
6         4.4
7         4.8
8         4.3
9         5.8
10        5.7
11        5.2
12        5.5
13        4.5
14        5.3
15        7.0
16        6.4
17        6.9
18        6.5
19        6.3
20        6.6
21        5.9
22        6.0
23        6.1
24        5.6
25        6.7
26        6.2
27        6.8
28        7.1
29        7.6
30        7.3
31        7.2
32        7.7
33        7.4
34        7.9

Aggregate Functions:

In [13]:
print(sqldf('''
SELECT AVG(sepal_len*sepal_wid + petal_len*petal_wid) AS "Average Iris Size"
FROM iris
'''))

   Average Iris Size
0          23.616933

GROUP BY:

In [17]:
print(sqldf('''
SELECT sepal_len, 
       AVG(petal_len) AS AveragePetalLength
FROM iris
GROUP BY sepal_len;
'''))

    sepal_len  AveragePetalLength
0         4.3            1.100000
1         4.4            1.333333
2         4.5            1.300000
3         4.6            1.325000
4         4.7            1.450000
5         4.8            1.580000
6         4.9            2.266667
7         5.0            1.840000
8         5.1            1.722222
9         5.2            2.075000
10        5.3            1.500000
11        5.4            2.033333
12        5.5            3.228571
13        5.6            4.200000
14        5.7            3.587500
15        5.8            4.071429
16        5.9            4.700000
17        6.0            4.650000
18        6.1            4.750000
19        6.2            4.750000
20        6.3            5.133333
21        6.4            5.157143
22        6.5            5.240000
23        6.6            4.500000
24        6.7            5.262500
25        6.8            5.400000
26        6.9            5.275000
27        7.0            4.700000
28        7.1            5.900000
29        7.2            5.966667
30        7.3            6.300000
31        7.4            6.100000
32        7.6            6.600000
33        7.7            6.600000
34        7.9            6.400000

HAVING:

In [21]:
print(sqldf('''
SELECT sepal_len, 
       AVG(petal_len) AS AveragePetalLength
FROM iris
GROUP BY sepal_len
HAVING AVG(sepal_len) > 4.9;
'''))

    sepal_len  AveragePetalLength
0         5.0            1.840000
1         5.1            1.722222
2         5.2            2.075000
3         5.3            1.500000
4         5.4            2.033333
5         5.5            3.228571
6         5.6            4.200000
7         5.7            3.587500
8         5.8            4.071429
9         5.9            4.700000
10        6.0            4.650000
11        6.1            4.750000
12        6.2            4.750000
13        6.3            5.133333
14        6.4            5.157143
15        6.5            5.240000
16        6.6            4.500000
17        6.7            5.262500
18        6.8            5.400000
19        6.9            5.275000
20        7.0            4.700000
21        7.1            5.900000
22        7.2            5.966667
23        7.3            6.300000
24        7.4            6.100000
25        7.6            6.600000
26        7.7            6.600000
27        7.9            6.400000

Subqueries:

In [22]:
print(sqldf('''
SELECT sepal_len, 
       AVG(petal_len) AS AveragePetalLength
FROM iris
WHERE petal_len > (
    SELECT AVG(petal_len)
    FROM iris
)
GROUP BY sepal_len;
'''))

    sepal_len  AveragePetalLength
0         4.9            4.500000
1         5.2            3.900000
2         5.4            4.500000
3         5.5            4.050000
4         5.6            4.320000
5         5.7            4.400000
6         5.8            4.550000
7         5.9            4.700000
8         6.0            4.650000
9         6.1            4.750000
10        6.2            4.750000
11        6.3            5.133333
12        6.4            5.157143
13        6.5            5.240000
14        6.6            4.500000
15        6.7            5.262500
16        6.8            5.400000
17        6.9            5.275000
18        7.0            4.700000
19        7.1            5.900000
20        7.2            5.966667
21        7.3            6.300000
22        7.4            6.100000
23        7.6            6.600000
24        7.7            6.600000
25        7.9            6.400000

There's really no useful JOIN query for these datasets, but I'll do it anyway. I just don't have a question for the query that I want to answer, as there's no correlation between datasets.

In [ ]:
print(sqldf('''
SELECT sepal_len, 
       AVG(petal_len) AS AveragePetalLength
FROM iris
JOIN iris wine.malic_acid
'''))

PandaSQLException: (sqlite3.OperationalError) near "(": syntax error
[SQL:
(SELECT sepal_len,
       AVG(petal_len) AS AveragePetalLength
FROM iris)
JOIN iris wine.malic_acid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)