In [43]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [45]:
iris = datasets.load_iris()

In [46]:
from pandasql import sqldf
import pandas as pd

In [47]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [48]:
iris = df.rename(columns={ "sepal length (cm)": "sepal_len", "sepal width (cm)": "sepal_wid", "petal length (cm)": "petal_len","petal width (cm)": "petal_wid"})

Can't do LIKE so I will start with AND:

In [50]:
print(sqldf('''
SELECT *
FROM iris
WHERE sepal_wid < 3
            AND petal_wid < 3
'''))

    sepal_len  sepal_wid  petal_len  petal_wid
0         4.4        2.9        1.4        0.2
1         4.5        2.3        1.3        0.3
2         5.5        2.3        4.0        1.3
3         6.5        2.8        4.6        1.5
4         5.7        2.8        4.5        1.3
5         4.9        2.4        3.3        1.0
6         6.6        2.9        4.6        1.3
7         5.2        2.7        3.9        1.4
8         5.0        2.0        3.5        1.0
9         6.0        2.2        4.0        1.0
10        6.1        2.9        4.7        1.4
11        5.6        2.9        3.6        1.3
12        5.8        2.7        4.1        1.0
13        6.2        2.2        4.5        1.5
14        5.6        2.5        3.9        1.1
15        6.1        2.8        4.0        1.3
16        6.3        2.5        4.9        1.5
17        6.1        2.8        4.7        1.2
18        6.4        2.9        4.3        1.3
19        6.8        2.8        4.8        1.4
20        6.0        2.9        4.5        1.5
21        5.7        2.6        3.5        1.0
22        5.5        2.4        3.8        1.1
23        5.5        2.4        3.7        1.0
24        5.8        2.7        3.9        1.2
25        6.0        2.7        5.1        1.6
26        6.3        2.3        4.4        1.3
27        5.5        2.5        4.0        1.3
28        5.5        2.6        4.4        1.2
29        5.8        2.6        4.0        1.2
30        5.0        2.3        3.3        1.0
31        5.6        2.7        4.2        1.3
32        5.7        2.9        4.2        1.3
33        6.2        2.9        4.3        1.3
34        5.1        2.5        3.0        1.1
35        5.7        2.8        4.1        1.3
36        5.8        2.7        5.1        1.9
37        6.3        2.9        5.6        1.8
38        4.9        2.5        4.5        1.7
39        7.3        2.9        6.3        1.8
40        6.7        2.5        5.8        1.8
41        6.4        2.7        5.3        1.9
42        5.7        2.5        5.0        2.0
43        5.8        2.8        5.1        2.4
44        7.7        2.6        6.9        2.3
45        6.0        2.2        5.0        1.5
46        5.6        2.8        4.9        2.0
47        7.7        2.8        6.7        2.0
48        6.3        2.7        4.9        1.8
49        6.2        2.8        4.8        1.8
50        6.4        2.8        5.6        2.1
51        7.4        2.8        6.1        1.9
52        6.4        2.8        5.6        2.2
53        6.3        2.8        5.1        1.5
54        6.1        2.6        5.6        1.4
55        5.8        2.7        5.1        1.9
56        6.3        2.5        5.0        1.9

BETWEEN:

In [51]:
print(sqldf('''
SELECT *
FROM iris
WHERE sepal_wid BETWEEN 1 AND 3
'''))

    sepal_len  sepal_wid  petal_len  petal_wid
0         4.9        3.0        1.4        0.2
1         4.4        2.9        1.4        0.2
2         4.8        3.0        1.4        0.1
3         4.3        3.0        1.1        0.1
4         5.0        3.0        1.6        0.2
..        ...        ...        ...        ...
78        5.8        2.7        5.1        1.9
79        6.7        3.0        5.2        2.3
80        6.3        2.5        5.0        1.9
81        6.5        3.0        5.2        2.0
82        5.9        3.0        5.1        1.8

[83 rows x 4 columns]

COUNT:

In [ ]:
print(sqldf('''
SELECT COUNT(sepal_len) AS "Num of small flowers"
FROM iris
WHERE sepal_wid < 3
            AND petal_wid < 3
'''))

   Num of small
0            57

DISTINCT:

In [59]:
print(sqldf('''
SELECT DISTINCT(sepal_len)
FROM iris
'''))

    sepal_len
0         5.1
1         4.9
2         4.7
3         4.6
4         5.0
5         5.4
6         4.4
7         4.8
8         4.3
9         5.8
10        5.7
11        5.2
12        5.5
13        4.5
14        5.3
15        7.0
16        6.4
17        6.9
18        6.5
19        6.3
20        6.6
21        5.9
22        6.0
23        6.1
24        5.6
25        6.7
26        6.2
27        6.8
28        7.1
29        7.6
30        7.3
31        7.2
32        7.7
33        7.4
34        7.9